"always-auth" "true"
"email" "workerbe@gmail.com"
"username" "JQE"
"@JQE:registry" "https://npm.pkg.github.com"
"//npm.pkg.github.com/:_authToken" "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"
"//npm.pkg.github.com/:_header:Authorization" "token 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"